.mainImageContainer {
  display: flex;
  min-height: 300px;
  flex-direction: column;

  > .nameContainer {
    margin-top: 15px;
    margin-bottom: 0;
    text-align: left;
    padding-left: 10px;
    width: 100%;
    z-index: 2;
  }

  > .nameContainer h1 {
    margin: 0;
  }

  > .imageContainer {
    margin-top: 30px;
    margin-left: 40px;
    z-index: 3;
  }

  > .professionContainer {
    position: absolute;
    z-index: 10;
    top: 210px;
    left: -35px;
    width: 100%;
  }

  > .surnameContainer {
    margin-left: 100px;
  }

  > .surnameContainer h1 {
    margin: 0;
  }

  > .triangleContainer {
    position: absolute;
    top: -170px;
    left: -226px;
    z-index: 1;
  }
}