@import './index';

.main {
  display:        flex;
  flex:           1;
  flex-direction: column;
  height:         auto;
  margin-bottom:  40px;
  overflow-x:     hidden;
  overflow-y:     auto;
}

.fadeEnter {
  opacity: 0;
}

.fadeExit {
  opacity: 1;
}

.fadeEnterActive {
  opacity: 1;
}

.fadeExitActive {
  opacity: 0;
}

.fadeEnterActive,
.fadeExitActive {
  transition: opacity 1s;
}
