@import './index';

.main {
  display:        flex;
  flex:           1;
  flex-direction: column;
  height:         auto;
  margin-bottom:  40px;
  overflow-x:     hidden;
  overflow-y:     auto;
}

.rightEnter {
  transform: translateX(100%);
}

.exit {
  transform: translateX(0%);
}

.rightExitActive {
  transform: translateX(100%);
}

.leftEnter {
  transform: translateX(-100%);
}

.leftExitActive {
  transform: translateX(-100%);
}

.enterActive {
  transform: translateX(0%);
}

.rightExitActive,
.enterActive,
.leftExitActive {
  -webkit-transition:transform 0.3s ease-out;
  -ms-transition:    transform 0.3s ease-out;
  transition:        transform 0.3s ease-out;
}
