
.aboutContainer {
  text-align: center;

  .header {
    margin-top: -20px;

    .imageContainer {
      left:     -80px;
      position: relative;
      top:      40px;

      .image {
        border-radius: 50%;
      }
    }

    .introduction {
      left:     40px;
      position: relative;
      top:      -45px;
    }

    .name {
      left:     60px;
      position: relative;
      top:      -60px;
    }

    .profession {
      left:     65px;
      position: relative;
      top:      -75px;
    }
  }

  .description {
    .student {
      margin-left: 10%;
      margin-top:  -80px;
      max-width:   80%;
      text-align:  center;
    }

    .work {
      margin-left: 10%;
      max-width:   80%;
      text-align:  center;
    }
  }
}
