@import './index.scss';

.footer {
  width: 100%;
  height: 100px;
  border-top: 2px solid $borderDark;
  display: flex;
  justify-content: center;
  align-items: center;

  > .contact {
    width: 100%;
    text-align: center;

    > .linkedIn {
      justify-content: center;
      display: flex;
      height: 20px;
      width: 100%;
    }

    > .linkedIn p {
      margin: 0 0 0 15px;
    }
  }
}