.mainImageContainer {
  display: flex;
  min-height: 150px;
  flex-direction: column;
  margin-top: -75px;
  z-index: 1;

 
  > .imageContainer {
    z-index: 3;

    > .nameContainer {
      position: absolute;
      text-align: left;
      width: 80%;
      z-index: 2;
      top: 160px;
      left: 10px;

      > .name {
        margin-left: 30px;
      }

      > .surname {
        margin-left: 15px;
      }
    }
  
    > .nameContainer h2 {
      margin: 0;
    }

    > .professionContainer {
      position: absolute;
      z-index: 10;
      top: 280px;
      left: 10px;
      width: 80%;
    }
  }


  > .surnameContainer {
    margin-left: 100px;
  }

  > .surnameContainer h1 {
    margin: 0;
  }

  > .triangleContainer {
    position: absolute;
    top: -170px;
    left: -226px;
    z-index: 1;
  }
}