.triangle {
  border-bottom: 300px solid transparent;
  border-left: 300px solid lightblue;
  border-right: 300px solid transparent; 
  border-top: 300px solid transparent;
  left: -87%;
  height: 0;
  position: absolute;
  top: -20%;
  transform: rotate(.625turn);
  width: 0; 
  z-index: 0;
}