/* The switch - the box around the slider */
.switch {
  display:  inline-block;
  height:   34px;
  position: relative;
  width:    80%;
}

/* Hide default HTML checkbox */
.switch input {
  height:  0;
  opacity: 0;
  width:   0;
}

/* The slider */
.slider {
  background-color:    rgb(109, 109, 109);
  bottom:              0;
  cursor:              pointer;
  left:               0;
  position:           absolute;
  right:              0;
  top:                0;
  transition:         0.4s;
  -webkit-transition: 0.4s;
}

.slider::before {
  background-color:   rgb(255, 255, 255);
  content:            '';
  height:             34px;
  left:               0;
  position:           absolute;
  transition:         0.4s;
  width:              50%;
  -webkit-transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(109, 109, 109);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(109, 109, 109);
}

input:checked + .slider::before {
  -webkit-transform: translateX(100%);
  -ms-transform:     translateX(100%);
  transform:         translateX(100%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 34px;
}

.skills {
  color:      rgb(0, 0, 0);
  left:       15%;
  margin-top: 4px;
  position:   absolute;
  z-index:    20;
}

.about {
  color:      rgb(0, 0, 0);
  margin-top: 4px;
  position:   absolute;
  right:      15%;
  z-index:    20;
}
