@import './index';

/* The switch - the box around the slider */
.switch {
  display:  inline-block;
  height:   34px;
  position: relative;
  width:    80%;
}

/* Hide default HTML checkbox */
.switch input {
  height:  0;
  opacity: 0;
  width:   0;
}

/* The slider */

.lightSlider {
  background-color:    rgb(57, 71, 99);
}

.darkSlider {
  background-color:    rgb(61, 61, 61);
}

.slider {
  @include slider-transition();
  bottom:              0;
  cursor:              pointer;
  left:               0;
  position:           absolute;
  right:              0;
  top:                0;
}

.slider::before {
  @include slider-transition();
  background-color:   $text-light;
  content:            '';
  height:             34px;
  left:               0;
  position:           absolute;
  width:              50%;
}

input:checked + .slider::before {
  -webkit-transform: translateX(100%);
  -ms-transform:     translateX(100%);
  transform:         translateX(100%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 34px;
}

.skills {
  color:      $main-color-dark;
  left:       15%;
  margin-top: 8px;
  position:   absolute;
  z-index:    20;
}

.about {
  color:      $main-color-dark;
  margin-top: 8px;
  position:   absolute;
  right:      15%;
  z-index:    20;
}
