@import './index.scss';

.headerContainer {
  min-height:       250px;
  background-color: black;
  text-align:       center;
  padding-top:      20px;

  > .nameContainer {
    color: white;
  }

  > .profession {
    margin:     0 60px;
    border-top: 1px solid white;
    color:      white;
  }
  
  > .toggle {
    margin-top: 50px;
  }
}