@import './index.scss';

.titleContainer {
  display: flex;
  min-height: 50px;
  z-index: 2;
  border-bottom: 1px solid rgb(202, 202, 202);
  padding-top: 5px;
  padding-bottom: 10px;

  > .hamburger {
    margin-top: 5px;
    margin-left: 10px;
  }

  > .toggle {
    margin-left: 200px;
    margin-top: 10px;
  }
}