@import './index';

.headerContainer {
  background-color: rgb(0, 0, 0);
  min-height:       250px;
  padding-top:      20px;
  text-align:       center;

  > .nameContainer {
    color: rgb(255, 255, 255);
  }

  > .profession {
    border-top: 1px solid rgb(255, 255, 255);
    color:      rgb(255, 255, 255);
    margin:     0 60px;
  }

  > .toggle {
    margin-top: 50px;
  }
}
