@import './index.scss';

.triangle {
  border-bottom: 226px solid transparent;
  border-left: 226px solid rgb(173, 216, 230);
  border-right: 226px solid transparent; 
  border-top: 226px solid transparent;
  height: 0;
  transform: rotate(.625turn);
  width: 0;
  padding: 0;
}