@import './index';

.skillsContainer {
  margin-left: 5%;
  text-align: center;
  width: 90%;

  > .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    > div:nth-child(1) {
      border-right: 2px solid $border-gray;
    }
  }
}
