@import './index.scss';

.skillsContainer {
  width: 90%;
  text-align: center;
  margin-left: 5%;

  > .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    > div:nth-child(1) {
      border-right: 2px solid $borderGray;
    }
  }

}