.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
  border: 2px outset rgba(224, 224, 224, 0.384);
  padding: 5px;
  // background-color: rgba(208, 226, 231, 0.596);
  margin-bottom: 10px;

  &:hover {
    background-color: rgba(178, 208, 216, 0.596);
    cursor: pointer;
  }

  > .description {
    margin-left: 15px;
    margin-bottom: 5px;
    width: 60%;

    > .completed {
      font-weight: bold;
      color: green;
    }

    > .group {
      width: 90%;
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-overflow: ellipsis;
      font-size: 14px;
    }

    > .group p {
      text-overflow: ellipsis;
    }

    > .ongoing {
      font-weight: bold;
      color: firebrick;
    }

    > .title{
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  > .description p {
    margin: 0;
  }
}